*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background-color: rgb(6, 6, 6);
}
.app-h1{
    text-align: center;
    color: orange;
    margin: 30px;
    
}
.app-p{
    text-align: center;
    color: gray;
    margin-top: 220px;
}
